/*
body {
  background-image: linear-gradient(#3330E4, #F637EC, #FBB454, #FAEA48);
  background-image: linear-gradient(#000000, #5800FF, #E900FF, #FFC600);
  background-image: linear-gradient(#42EBC9, #3AC9F2, #386EDB, #4233F2, #9946EB);
  background-image: linear-gradient(#0CEBDA, #0CA4F2, #0137DB, #320CF2, #8E09EB);
  background-image: linear-gradient(#000000, #5800FF, #FFA500);
  background-color: #000000;
  background-image: url("Images/Plant.jpg");
}
*/

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 0;
  padding-top: 100px;
  font-family: 'Comfortaa', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: rebeccapurple;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #A084CF;
}

hr {
  border: solid;
}

.top-container {
  background-color: black;
  color: #85f5d7;
  position: relative;
  padding-top: 100px;
  height: 550px;
}

.left-div {
  display: inline-block;
  width: 29.5%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.center-div {
  display: inline-block;
  width: 40%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 30%;
}

.right-div {
  display: inline-block;
  width: 29.5%;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
}

.top-atom {
  width: 41.6%;
  position: absolute;
  top: 40px;
  left: 10px;
}

.bottom-atom {
  width: 41.6%;
  position: absolute;
  top: 190px;
  right: 10px;
}

.main-atom {
  width: 100%;
}

.middle-container {
background-image: linear-gradient(#BDF2D5, #FAF4B7, #FFD9C0);
}

.hello {
  margin-top: 0;
  padding-top: 0.83em;
}

.biography {
  width: 50%;
  margin: auto auto 20px;
  line-height: 1.5;
}

.skill-row {
  width: 50%;
  padding: 75px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  align-items: center;
}

.picture {
  /* display: inline-block; */
  width: 50%;
  /* margin-right: 15px; */
}

.skill-text {
  /* display: inline-block; */
  width: 100%;
  /*margin-left: 15px; */
}

.dots {
  border-style: dotted none none;
  border-width: 10px;
  border-color: #787A91;
  width: 90px;
}

.bottom-container {
  padding-top: 16px;
  background-color: black;
  color: #ECB390;
}

.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 20px;
  background: #ECB390;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #FFD9C0;
  text-decoration: none;
  color: #000000;
}

.footer-link {
  display:inline-block;
  margin: 30px 30px auto;
  color: #85f5d7;
  font-weight: normal
}

.footer-link:hover {
  font-weight: bold;
  color: #85f5d7;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 16px;
}

.projects {
  margin: 32px;
  text-align: left;
  background-image: linear-gradient(#BDF2D5, #FAF4B7, #FFD9C0);
}
