body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Comfortaa', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: rebeccapurple;
}

a:hover {
  font-weight: bold;
}

hr {
  border: solid;
}

.top-container {
  background-color: black;
  color: #85f5d7;
  position: relative;
  padding-top: 100px;
}

.top-atom {
  width: 12.5%;
  position: absolute;
  top: 5%;
  left: 1000px;
}

.bottom-atom {
  width: 12.5%;
  position: absolute;
  top: 30%;
  right: 1000px;
}

.main-atom {
  width: 40%;
}

.middle-container {
background-image: linear-gradient(#BDF2D5, #FAF4B7, #FFD9C0);
}

.hello {
  margin-top: 0;
  padding-top: 0.83em;
}

.biography {
  width: 50%;
  margin: auto auto 20px;
  line-height: 1.5;
}

.skill-row {
  display: flex;
  width: 50%;
  padding: 75px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
  align-items: center;
}

.picture {
  display: inline-block;
  width: 49%;
  margin-right: 15px;
}

.skill-text {
  display: inline-block;
  width: 49%;
  margin-left: 15px;
}

.dots {
  border-style: dotted none none;
  border-width: 10px;
  border-color: #787A91;
  width: 90px;
}

.bottom-container {
  padding-top: 16px;
  background-color: black;
  color: #ECB390;
}

.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 20px;
  background: #ECB390;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #FFD9C0;
  text-decoration: none;
}

.footer-link {
  display:inline-block;
  width: 100px;
  margin-top: 30px;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 16px;
}

.projects {
  margin: 32px;
  text-align: left;
  background-image: linear-gradient(#BDF2D5, #FAF4B7, #FFD9C0);
}
